body{
    width : 1vw;
    height: 1vh;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.card{
    width: 200px;
    height: 150px;
    background-color: red;
    color: white;
    border-radius: 15px;
    border: none;
    text-align: center;
}